---
title: FAQ
heading: Frequently Asked Questions
description: It is totally reasonable to have a lot of questions.  Here are my responses to some from students I have spoken to so far.
faq:
  - question: "How much does it cost?"
    answer: "I ask for a $200 deposit, which is fully refundable after attending every live session and completing a portfolio project, which you can add to your resume."
  - question: "Why charge for a free course?"
    answer: "I want the course to be free and accessible to everyone, but I also want everyone who participates to be committed to completing it.  I think charging a deposit and letting you bet yourself that you'll complete it is the best way to maximize retention without compormising accessibility."
  - question: "How will I know if I'll get my refund?"
    answer: "The bar for getting a refund is low by design.  Just make sure to show up for each live session and have something tangible to show at the end of the 12 weeks and you'll be refunded."   
  - question: "What if I have to miss a live session?"
    answer: "If you must miss a live session, let me know in advance.  If you anticipate needing to miss more than 1 or 2 live sessions, then consider joining the course another time.  There may be course auditing opportunities in the future."
  - question: "What types of payment do you accept?"
    answer: "PayPal, Venmo, or credit card."
  - question: "What if I can't afford $200?"
    answer: "Remember that completing the program will earn yourself a full refund.  However, if the price is an issue, you can contact me and may work something out."
  - question: "Will the program be in person or virtual?"
    answer: "Fully virtual."
  - question: "Are there any pre-requisites?"
    answer: "No, but it would be helpful to already have some basic skills for your portfolio project.  If you're starting from scratch, 12 weeks is enough time to learn some basic python or other skills to build a decent portfolio project."
  - question: "Who is this program for?"
    answer: "Anyone whose goal is to work in the data industry and can commit to building a portfolio project.  College freshman to post-graduate students are all welcome." 
  - question: "Can I apply if I've already had a data related internship?"
    answer: "Yes! If I had this when I was a senior, I would still join for extra motivation to finish an additional portfolio project."
  - question: "How many students will be in the cohort?"
    answer: "Up to 20 people."
  - question: "Do I need to be an expert in python, Tableau, and machine learning?"
    answer: "While it will definitely be easier to create an impressive portfolio project if you have some technical skills, the purpose of portfolio projects is to learn and gain hands-on experience using relevant tools and strategies."
  - question: "How much will you help me with my portfolio project?"
    answer: "I can help with ideas, design, and planning (and possibly help you deploy it), but the real value of the project is for you to get experience with the tools and lifecycle yourself."
  - question: "When will the program start?"
    answer: "Start at the beginning of a semester and finish one month before final exams."
  - question: "Can you refer me to your company?"
    answer: "No, but I may be able to put in a good word.  I am doing this totally independently from my day job and my advice and opinions do not necessarily reflect those of my employer."
  - question: "Will there be another session in the summer?"
    answer: "I plan to do this again in the summer, but there is no guarantee."
  - question: "Can I work on a portfolio project with a partner?  Will we have to build two projects?"
    answer: "Yes, you can work in a small group as long as each member is comfortable with the other's contribution.  Having multiple developers in the same repo can be good practice for working with git inside of organizations."
  - question: "Did you come up with the idea of paying for a free program yourself?"
    answer:" No.  I was introduced to the idea when I joined Founder.University, which was the same idea but with $700.  I found that to be very effective and could be scaled down and reapplied for this type of educational program."
  - question: "If there are fewer than 20 applicants, will everyone be accepted?"
    answer: "Not necessarily.  My goal is to have the highest retention rate possible, so if someone's responses indicate they can't commit to completing the program, then they may be filtered out."
  - question: "What happens if I apply and am accepted?"
    answer: "Once accepted, you'll have a week to decide if you truly want to commit and pay the $200 deposit.  The program will start soon after."
  - question: "Why is the duration 12 weeks specifically?"
    answer: "12 weeks is enough time to cover most of what you need to know in one hour sessions. 3 months is also plenty of time to work on a portfolio project in addition to class work and other activities."
  - question: "Will you, Jordan Pierre, be the only presenter during the 12 live sessions?"
    answer: "No. We will bring in guest speakers from all types of data roles at a variety of companies. By no means do I want to position myself as an expert with ultimate authority, but rather as someone who's only a few years removed from university and has seen the other side."
  - question: "Why are you qualified to speak on the matter?"
    answer: "I've worked in a variety of data roles at a range of companies.  I've reviewed intern candidates resumes and interviewed them from the other side of the table.  Disclaimer again: all thoughts and opinions are my own and do not necessarily reflect those of my employer or any past employers."
  - question: "Is this program only for Ohio State students?"
    answer: "No.  This program is open to anyone, but as an OSU alum, I'll primarily be advertising to OSU groups and will base the content on my experience there."
  - question: "Why are you doing this if you're not trying to get paid?"
    answer: "I designed this as something I wish I had when I was a student.  I think it's fun and tangibly, it'll be a good way of building my network. Maybe I help someone now and it turns into a referral for a role with a $50k raise or X amount of equity in a few years.  That sounds more exciting to me than extracting $200 from already strained college students."

---
{% if page.faq %}
	<h2>Program FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}