---
title: Pricing
heading: Join the group coaching program
description: The program is deliberately free and accessible for anyone who is committed to making the most of it.  
pricing_table:
  - name: Coming Soon
    color: "#d3d3d3"
    features:
      - text: TBD
        highlight: false
  - name: Live Group Coaching
    color: "#4182e4"
    features:
      - text: $200†
        highlight: true
      - text: †100% refund after attending all live sessions and completing a portfolio project
        highlight: false
      - text: Professional portfolio guidance and review
        highlight: true
      - text: Professional resume advice and review
        highlight: true
      - text: Education and insight on data related roles in industry
        highlight: true
      - text: Internship application and interview strategies
        highlight: true
      - text: Networking with industry professionals and motivated peers
        highlight: true
      - text: Applications end Jan. 9, 2022
        highlight: false
      - text: Program begins week of Jan. 16, 2022
    call_to_action:
      link: http://mysite.com?plan=pro
      text: Apply for Spring 2022 Cohort
  - name: Coming Soon
    color: "#d3d3d3"
    features:
      - text: TBD
        highlight: false
faq:
  - question: Why charge for a free program?
    answer: placeholder  TODO
  - question: How will I know if I'll get my money back?
    answer: placeholder  TODO
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.  TODO
  - question: Do you offer scholarships for students who can't afford spend $200 if they don't complete the program?
    answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}